:root {
    --dark: #282828;
    --darkest: #1d2021;
    --light: #ebdbb2;

    --mainfont: Hack, Menlo, monospace;
    --mainweight: 100;

    --red: #cc241d;
    --orange: #d65d0e;
    --yellow: #d79921;
    --green: #689d6a;
    --purple: #b16286;

}

html {
    background-color: var(--dark);
    color: var(--light);
    height: 100%;
}

body {
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
}

.centerthing {
    width: 42%;
    min-width: 400px;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    justify-content: center;
    text-align: center;
}

.colourchange {
    background-color: var(--darkest);
    padding: 42px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
}

h1 {
    font-family: var(--mainfont);
    font-weight: var(--mainweight);
}
.colourchange h1 {
    margin-top: 0;
}
.tempgrad {
    margin: 0;
    background-image: linear-gradient(to right, var(--red) 0%, var(--red) 20%, var(--orange) 20%, var(--orange) 40%, var(--yellow) 40%, var(--yellow) 60%, var(--green) 60%, var(--green) 80%, var(--purple) 80%, var(--purple) 100%);
    height: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#search input{
    background-color: var(--dark);
    border: none;
    width: 90%;
    padding: 5px;
    border-radius: 5px;
}